@model IEnumerable<Stream.Models.Library>

<tbody>
@foreach (var library in Model)
{
    <tr>
        <td>@library.Id</td>
        <td>@library.User?.Username</td>
        <td>@library.Game?.Title</td>
        <td>@library.Status</td>
        <td>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@library.Id">Edytuj</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@library.Id">Usuń</a>
        </td>
    </tr>
}
</tbody>