@model List<Stream.Models.Library>

<tbody>
@foreach (var library in Model)
{
    <tr>
        <td>@library.User?.Username</td>
        <td>@library.Game?.Title</td>
        <td>@library.Status</td>
        <td>
            <a class="btn btn-primary" href="@Url.Action("Edit", "Library", new { id = library.Id })">Edit</a>
            <a class="btn btn-danger" href="@Url.Action("Delete", "Library", new { id = library.Id })">Delete</a>
        </td>
    </tr>
}
</tbody>